.App {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

background-color: rgb(14, 10, 10);
background-image: radial-gradient(at 97% 91%, rgb(51, 65, 85) 0, transparent 98%), radial-gradient(at 90% 78%, rgb(217, 249, 157) 0, transparent 58%), radial-gradient(at 28% 96%, rgb(69, 70, 75) 0, transparent 43%), radial-gradient(at 58% 93%, rgb(15, 118, 110) 0, transparent 71%), radial-gradient(at 39% 5%, rgb(82, 82, 91) 0, transparent 86%), radial-gradient(at 69% 27%, rgb(226, 232, 240) 0, transparent 72%);


}


.gameBoard-Container {
  position: relative;
  width: clamp(300px, 95%, 800px);
  height: clamp(500px, 90vh, 900px);
  background: transparent;
  filter: drop-shadow(-40px 60px 30px rgba(0, 0, 0, 0.5))
}

.gameBoard-outside {
display: flex;
position: relative;
z-index: 10;
height: clamp(450px, 90vh, 900px);
width: clamp(100px, 75%, 600px);
background-image: conic-gradient(at left bottom, rgb(136, 19, 55), rgb(146, 64, 14), rgb(251, 113, 133));

clip-path: polygon(8% 0%,92% 0%,100% 8%,100% 92%,92% 100%,8% 100%,0% 92%,0% 8%);
}

.gameBoard-inside {

  position: absolute;
  top: 10px;
  left: 12px;
  right: 12px;
  bottom: 10px;

  background-color: rgb(2, 2, 2);
  background-image: radial-gradient(at 97% 91%, rgb(24, 27, 31) 0, transparent 98%), radial-gradient(at 90% 78%, rgb(126, 129, 120) 0, transparent 58%), radial-gradient(at 28% 96%, rgb(142, 145, 156) 0, transparent 43%), radial-gradient(at 58% 93%, rgb(42, 61, 60) 0, transparent 71%), radial-gradient(at 39% 5%, rgb(82, 82, 91) 0, transparent 86%), radial-gradient(at 69% 27%, rgb(226, 232, 240) 0, transparent 72%);


clip-path: polygon(8% 0%,92% 0%,100% 8%,100% 92%,92% 100%,8% 100%,0% 92%,0% 8%);

}


.gameBoard-outside::before {
  content:"";
  height: 100%;
  width: 100%;  
  background-color: rgb(83, 10, 10);
  background-image: radial-gradient(at 97% 91%, rgb(36, 22, 22) 0, transparent 90%), radial-gradient(at 90% 78%, rgb(13, 14, 12) 0, transparent 98%), radial-gradient(at 28% 96%, rgb(0, 0, 0) 0, transparent 43%), radial-gradient(at 58% 83%, rgb(10, 10, 10) 0, transparent 71%), radial-gradient(at 39% 5%, rgb(17, 17, 19) 0, transparent 86%), radial-gradient(at 69% 27%, rgba(0, 0, 0, 0.795) 0, transparent 92%);

}



.gameContainer {
height: 100%;

z-index: 100;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
filter: drop-shadow(0px 0px 5px rgba(20, 15, 15, 0.979));
}

.secretContainer {
  position: relative;
  height:10%;
  margin-top: 5%;
  width: 100%;
  filter: drop-shadow(0px 0px 3px rgba(37, 37, 37, 0.548));

}

.secret-answers { 
  width: 60%;
  height: 80%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-around; 
}

.secret-cover {
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(at 97% 91%, rgb(24, 27, 31) 0, transparent 98%), radial-gradient(at 90% 78%, rgb(126, 129, 120) 0, transparent 58%), radial-gradient(at 28% 96%, rgb(58, 65, 90) 0, transparent 43%), radial-gradient(at 58% 93%, rgb(90, 107, 106) 0, transparent 71%), radial-gradient(at 39% 5%, rgb(89, 89, 112) 0, transparent 86%), radial-gradient(at 69% 27%, rgb(101, 112, 128) 0, transparent 72%);
  position:absolute;
  border: 2px solid black;
  width: 70%;
  height: 100%;
  box-shadow: 0px -8px 14px 4px rgb(87, 85, 85);
  top: 0;
  left: 15%;
  transform: rotateX(0deg) skew(6deg);
}

.secret-cover:before {
  content: "";
  position: absolute;
  background-image: radial-gradient(at 97% 91%, rgb(24, 27, 31) 0, transparent 98%), radial-gradient(at 90% 78%, rgb(73, 75, 70) 0, transparent 58%), radial-gradient(at 28% 96%, rgb(50, 51, 56) 0, transparent 43%), radial-gradient(at 58% 93%, rgb(47, 53, 52) 0, transparent 71%), radial-gradient(at 39% 5%, rgb(31, 31, 34) 0, transparent 86%), radial-gradient(at 69% 27%, rgb(68, 76, 88) 0, transparent 72%);
  border: 3px groove black;
  transform:  skew(-14deg);
  height: 105%;
  width: 10%;
  top: -2%;
  left: -6%;
  border-radius: 0% 0% 0% 100%;
}

.secret-cover::after {
  content: "";
  position: absolute;
  background-image: radial-gradient(at 97% 91%, rgb(24, 27, 31) 0, transparent 98%), radial-gradient(at 90% 78%, rgb(73, 75, 70) 0, transparent 88%), radial-gradient(at 28% 96%, rgb(50, 51, 56) 0, transparent 43%), radial-gradient(at 58% 93%, rgb(47, 53, 52) 0, transparent 81%), radial-gradient(at 39% 5%, rgb(31, 31, 34) 0, transparent 86%), radial-gradient(at 69% 27%, rgb(68, 76, 88) 0, transparent 72%);
  border: 3px groove black;
  transform:  skew(12deg);
  height: 105%;
  width: 10%;
  top: -2%;
  right: -7%;
  border-radius: 10% 0% 100% 2%;
}

.log-wrapper {
  display: flex;
  height: 84.6%;
  position: relative;
  width: 100%;
  border-top: 2px solid black;
  filter: drop-shadow(0px 0px 3px rgb(44, 44, 41));
  }

  .rhombas-outside{
    width: 10%;
  z-index: 300;
 height: 90%;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0% 0%,100% 5%,100% 95%,0% 100%);
    writing-mode: vertical-rl;
text-orientation: mixed;
text-align: center;
padding: 1% 1% 1% .10rem;

  }
  .rhombas-inside {
    width: 100%;
    height: 100%;
    font-weight: bolder;
    color: rgba(99, 20, 20, 0.8);
    text-shadow: 1px 2px 0 #EEE, 0 0 0 #000, 1px 2px 0 #EEE;
   letter-spacing: 2.2vh;
   background-image: linear-gradient(to left, #5c2323, #5d1f1f, #5d1b1a, #5e1616, #5e1111, #5b0d0e, #59090b, #560507, #500306, #4a0204, #450102, #3f0000);
    clip-path: polygon(0% 0%,100% 5%,100% 95%,0% 100%);
    font-size: calc(.1vw + 1vh + 1vmin);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.log-container {
  position: absolute;
  left: 0;
  top: 0;
display: flex;
border-bottom: 2px solid black;
flex-direction: row;
height: 92%;
width: 100%;
border-left: 1px solid black;


}
#log {
width: 90%;
height: 100%;
border-top: none;
border-bottom: none;
}

.rounds {
height:100%;
display: flex;
flex-direction: column-reverse;


}

.round {
width: 100%;
height: 10%;
display: grid;
grid-template: 1fr / 1fr 1fr 1fr 1fr;
grid-auto-flow: column;
align-items: center;
justify-items: center;
border: 2px solid black;
border-left: none;
padding-left: 12%;
padding-top: 5px;
padding-bottom: 5px;
}

.rounds > :nth-child(1) {
border-bottom: 0px solid black;

}

.rounds > :nth-child(n+1) {
  border-top: none;
}




.results {
color: black;
text-align: center;
height: 100%;
width: 20%;
display: flex;
flex-direction: column-reverse;


}

.results > :nth-child(1) {
  border-bottom: none;

}

.results > :nth-child(n+1) {
  border-top: none;
}


.result {
height: 10%;
display: grid;
grid-template: 1fr 1fr / 1fr 1fr;    
grid-auto-flow: row;
justify-content: center;
align-content: center;
justify-items: center;
align-items: center;
border: 2px solid black;
border-right: none;
border-left: none;
padding-right: 14%;
padding-left: 5%;
padding-top: 5px;
padding-bottom: 5px;
}

.playerResponseContainer {
  position: absolute;
  right: 0;
  top: 6%;
  height: 88%;
  width: 100%;

  background-color: rgb(83, 10, 10);
  background-image: radial-gradient(at 97% 91%, rgb(36, 22, 22) 0, transparent 90%), radial-gradient(at 90% 78%, rgb(13, 14, 12) 0, transparent 98%), radial-gradient(at 28% 96%, rgb(0, 0, 0) 0, transparent 43%), radial-gradient(at 58% 83%, rgb(10, 10, 10) 0, transparent 71%), radial-gradient(at 39% 5%, rgb(17, 17, 19) 0, transparent 86%), radial-gradient(at 69% 27%, rgba(0, 0, 0, 0.795) 0, transparent 92%);


  display: flex;
  justify-content: flex-end;
  align-items: center;
  clip-path: polygon(8% 0%,92% 0%,100% 8%,100% 92%,92% 100%,8% 100%,0% 92%,0% 8%);

}


.playerResponse {
  position: absolute;
  position: absolute;
  top: 10px;
  left: 12px;
  right: 12px;
  bottom: 10px;
  margin: auto;
  display: flex;
  background-color: rgb(2, 2, 2);
  background-image: radial-gradient(at 97% 91%, rgb(24, 27, 31) 0, transparent 98%), radial-gradient(at 90% 78%, rgb(126, 129, 120) 0, transparent 58%), radial-gradient(at 28% 96%, rgb(238, 242, 255) 0, transparent 43%), radial-gradient(at 58% 93%, rgb(13, 14, 13) 0, transparent 71%), radial-gradient(at 39% 5%, rgb(82, 82, 91) 0, transparent 86%), radial-gradient(at 69% 27%, rgb(226, 232, 240) 0, transparent 72%);
  clip-path: polygon(8% 0%,92% 0%,100% 8%,100% 92%,92% 100%,8% 100%,0% 92%,0% 8%);
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
 
}

.gameButtons {

  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  width: 18%;
  margin-right: 3%;
}



.red{
  background: radial-gradient(circle at 40% 40%, rgb(255, 0, 0), rgb(46, 3, 3));
  border-radius: 20%;
  height: 60%;
  aspect-ratio: 1.1/1;
  box-shadow: -3px 1px 1px 2px black;

  @supports not (aspect-ratio: auto) { 
 height:calc(.3vw + 2.6vh);
  width: calc(.3vw + 2.6vh);
    
  }
  }





.orange{
  background: radial-gradient(circle at 40% 40%, rgb(253, 173, 0), rgb(83, 57, 0));
  border-radius: 20%;
  height: 60%;
  aspect-ratio: 1.1/1;
  box-shadow: -3px 1px 1px 2px black;

  @supports not (aspect-ratio: auto) { 
 height:calc(.3vw + 2.6vh);
  width: calc(.3vw + 2.6vh);
    
  }
  }


.yellow{
background: radial-gradient(circle at 40% 40%, yellow, rgb(88, 95, 28));
border-radius: 20%;
height: 60%;
aspect-ratio: 1.1/1;
box-shadow: -3px 1px 1px 2px black;

@supports not (aspect-ratio: auto) { 
height:calc(.3vw + 2.6vh);
width: calc(.3vw + 2.6vh);
  
}
}


.green{
  background: radial-gradient(circle at 40% 40%, green, rgb(1, 24, 4));
  border-radius: 20%;
  height: 60%;
  aspect-ratio: 1.1/1;
  box-shadow: -3px 1px 1px 2px black;

  @supports not (aspect-ratio: auto) { 
 height:calc(.3vw + 2.6vh);
  width: calc(.3vw + 2.6vh);
    
  }
  }


.blue{
  background: radial-gradient(circle at 40% 40%, blue, rgb(3, 1, 20));
  border-radius: 20%;
  height: 60%;
  aspect-ratio: 1.1/1;
  box-shadow: -3px 1px 1px 2px black;

  @supports not (aspect-ratio: auto) { 
 height:calc(.3vw + 2.6vh);
  width: calc(.3vw + 2.6vh);
    
  }
  }


.purple{
  background: radial-gradient(circle at 40% 40%, purple, rgb(20, 1, 27));
  border-radius: 20%;
  height: 60%;
  aspect-ratio: 1.1/1;
  box-shadow: -3px 1px 1px 2px black;

  @supports not (aspect-ratio: auto) { 
 height:calc(.3vw + 2.6vh);
  width: calc(.3vw + 2.6vh);
    
  }
  }


.pink{
background: radial-gradient(circle at 40% 40%, pink, rgb(46, 7, 36));
border-radius: 20%;
height: 60%;
aspect-ratio: 1.1/1;
box-shadow: -3px 1px 1px 2px black;

@supports not (aspect-ratio: auto) { 
height:calc(.3vw + 2.6vh);
width: calc(.3vw + 2.6vh);
  
}
}
.white{
background: radial-gradient(circle at 40% 40%, white, rgb(53, 46, 46));
border-radius: 20%;
height: 60%;
aspect-ratio: 1.1/1;
box-shadow: -3px 1px 1px 2px black;

@supports not (aspect-ratio: auto) { 
height:calc(.3vw + 2.6vh);
width: calc(.3vw + 2.6vh);
  
}
}


#player-choice {
border-radius: 0px;
border: 3px ridge rgb(0, 0, 0);
width: 100%;
height: 6%;
box-shadow: -4px 4px 4px rgba(19, 11, 2, 0.966), inset 0px -1px 4px rgba(0, 0, 0, 0.918);
}

#player-choice:hover {
  box-shadow: -4px 4px 6px  rgba(41, 39, 36, 0.966), inset 0px -1px 4px rgba(32, 28, 28, 0.926);
}

#player-choice:active {
transform: scale(.95) ;
border: 3px ridge black;
}



.interfacebutton {
  font-size: medium;
  height: 6%;
  font-weight: 500;
  color: white;
  background-color: black;
  text-shadow: .3px .4px 0 #EEE, 0 0 0 #000, .3px .4px 0 #EEE;
}


